$bg_color : rgb(253, 249, 6);
 .header1 {
     background-color: $bg_color;
     height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-between
 }
 .login{
     color: rgb(228, 210, 47);
     height : 100%;
     display: flex;
     flex-direction: row;
 }
 .usermenu {
     display: flex;
     
 }